@{
    ViewBag.Title = "Manage Users";
}

<h2>@ViewBag.Title.</h2>
<div class="well">
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search"
                   data-mvcgrid-type="filter" data-mvcgrid-option="Key" data-mvcgrid-apply-filter="change" />
        </div>
    </div>
</div>

@Html.MVCGrid("ManageUsersGrid")